// ===============================
// Paleta de Cores
// ===============================
$primary-color: #0d73ea;     // Azul Principal
$secondary-color: #1d3b66;   // Azul Forte
$accent-color: #ffb01e;      // Amarelo
$success-color: #1bbc71;     // Verde
$danger-color: #ea3b5a;      // Vermelho
$info-color: #17a2b8;        // Informação (Azul Claro)

// Cores de fundo e texto
$background-color: #f4f7fa;  // Fundo Principal
$text-color: #333333;        // Cor do Texto Padrão
$text-secondary: #6c757d;    // Texto Secundário
$text-link: $primary-color;  // Cor dos Links
$text-hover: darken($primary-color, 15%); // Cor do Hover no Link

$text-white: #fff;  // Fundo Principal
$text-color: #333333;        // Cor do Texto Padrão
$text-secondary: #6c757d;    // Texto Secundário
$text-link: $primary-color;  // Cor dos Links
$text-hover: darken($primary-color, 15%); // Cor do Hover no Link

// Cores de botões
$button-color: $danger-color; // Cor dos Botões (Usando Vermelho)
$button-hover-color: darken($button-color, 10%); // Cor do Hover no Botão

// Cores das Seções
$section-background-light: #f9f9f9; // Fundo Claro
$section-background-dark: #e1e1e1;  // Fundo Escuro
$section-border-color: #e0e0e0;     // Bordas das Seções

// Gradientes
$gradient-primary: linear-gradient(45deg, $primary-color, $secondary-color);
$gradient-accent: linear-gradient(90deg, $button-color, $success-color);

// Cores específicas de componentes
$cta-button-background: $button-color;
$cta-button-hover: $button-hover-color;
$cta-text-color: #ffffff;

// ===============================
// Sombras e Bordas
// ===============================
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 8px;                // Raio das Bordas
$border-radius-button: 50px;        // Raio das Bordas dos Botões

// ===============================
// Fontes
// ===============================
$font-primary: 'Silka', sans-serif; // Fonte Primária (Silka)
$font-secondary: 'Roboto', sans-serif; // Fonte Secundária
$font-tertiary: 'Montserrat', sans-serif; // Fonte Terciária