/* Sticky Card */
#sticky-card {
  position: sticky;
  top: 20px; /* Distância do topo */
  align-self: flex-start; /* Mantém alinhado ao início */
  height: auto;
  margin-bottom: 20px;
}

/* Animação do Botão */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.btn-warning {
  animation: float 2s infinite ease-in-out alternate;
  background-color: #ffb01e;
  color: white;

  &:hover {
    background-color: #ea9800;
    box-shadow: 0 0 15px rgba(255, 176, 30, 0.5);
  }
}

/* Ícones e Layout */
.material-icons {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #1d3b66;
}



@media (max-width: 768px) {
  #sticky-card {
    position: static; /* Desativa sticky no mobile */
    margin: 0 auto;
  }
}
