/* Sticky Card */
#sticky-card {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

/* Animação do Botão */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.btn-warning {
  animation: float 2s infinite ease-in-out alternate;
  background-color: #ffb01e;
  color: white;

  &:hover {
    background-color: #ea9800;
    box-shadow: 0 0 15px rgba(255, 176, 30, 0.5);
  }
}

/* Ícones e Layout */
.material-icons {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #1d3b66;
}
